name: 5-Minute Insider Bot
on:
  schedule:
    - cron: '0 */6 * * *' # Restarts every 6 hours
  workflow_dispatch:      # Allows you to start it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Packages
        run: pip install pandas curl_cffi lxml html5lib

      - name: Run Bot
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        run: python insider_bot.py

      - name: Save Memory (Commit CSV)
        run: |
          git config --global user.name "InsiderBot"
          git config --global user.email "bot@example.com"
          git add seen_trades.csv
          git commit -m "Update seen trades" || exit 0
          git push
